{%  extends 'layout/default.html.twig' %}
{% block body %}
<div class="container booking-container">
    <h3>
        <a href="{{ path('item', {id: hall.id}) }}">
            {{ hall.name }}
        </a>
    </h3>
    {% if price is not null %}
    <div class="hall-price">
        <h4>{{ price.value }},-</h4>
        <p class="small">za godzine</p>
    </div>
    {% endif %}
    <ul class="hall-images">
        {% for image in hall.images %}
            <li>
                <img src="/uploads/images/{{ image.filePath }}" />
                <p></p>
            </li>
        {% endfor %}
    </ul>
    <div class="card">
        <div class="card-body">
            <form method="post" action="{{ path('book', {id: hall.id}) }}">
                <h4>Rezerwajca sali</h4>
                    {% if errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ errors }}
                        </div>
                    {% endif %}
                    <div class="form-row">
                        <label for="firstName" class="col-sm-2 col-form-label">
                            Imie
                        </label>
                        <div class="col-md-10 mb-3">
                            <input type="text"
                                   name="firstName"
                                   id="firstName"
                                   class="form-control"
                                   placeholder="Imie"
                                   required=""
                                   {% if user is not null %}
                                        readonly
                                        value="{{ user.firstName }}"
                                   {% endif %}
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="phone" class="col-sm-2 col-form-label">
                            Telefon
                        </label>
                        <div class="col-md-10 mb-3">
                            <input type="text"
                                   id="phone"
                                   name="phone"
                                   class="form-control"
                                   placeholder="Telefon"
                                   required=""
                                    {% if user is not null %}
                                        readonly
                                        value="{{ user.phone }}"
                                    {% endif %}
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="mail" class="col-sm-2 col-form-label">
                            E-mail
                        </label>
                        <div class="col-md-10 mb-3">
                            <input type="text"
                                   name="mail"
                                   id="mail"
                                   class="form-control"
                                   placeholder="E mail"
                                   required=""
                                   {% if user is not null %}
                                       readonly
                                       value="{{ user.email }}"
                                   {% endif %}
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="username" class="col-sm-2 col-form-label">
                            Login
                        </label>
                        <div class="col-md-10 mb-3">
                            <input type="text"
                                   name="username"
                                   id="username"
                                   class="form-control"
                                   placeholder="Login"
                                   required=""
                                    {% if user is not null %}
                                        readonly
                                        value="{{ user.username }}"
                                    {% endif %}
                            />
                        </div>
                    </div>
                    {% if user is null %}
                    <div class="form-row">
                        <label for="password" class="col-sm-2 col-form-label">
                            Hasło
                        </label>
                        <div class="col-md-10 mb-3">
                            <input type="password"
                                   name="password"
                                   id="password"
                                   class="form-control"
                                   placeholder="Hasło"
                                   required=""
                            />
                        </div>
                    </div>
                    {% endif %}
                <div class="form-row row">
                    <label for="dateFrom" class="col-sm-2 col-form-label">
                        Data od
                    </label>
                    <div class="col-md-10 mb-3">
                        <input type="datetime-local" name="dateFrom" class="form-control" id="dateFrom" placeholder="Data od" />
                    </div>
                </div>
                <div class="form-row row">
                    <label for="dateTo" class="col-sm-2 col-form-label">
                        Data do
                    </label>
                    <div class="col-md-10 mb-3">
                        <input type="datetime-local" name="dateTo" class="form-control" id="dateTo" placeholder="Data do" />
                    </div>
                </div>
                <div class="form-row row">
                    <label for="peopleCount" class="col-sm-2 col-form-label">
                        Liczba osób
                    </label>
                    <div class="col-md-10 mb-3">
                        <input type="text" name="peopleCount" class="form-control" placeholder="Liczba osób" />
                    </div>
                </div>

                <div class="form-row row">
                    <label for="comment" class="col-sm-2 col-form-label">
                        Komentarz
                    </label>
                    <div class="col-md-10 mb-3">
                        <textarea class="form-control" name="comment" placeholder="Komentarz"></textarea>
                    </div>
                </div>
                <div class="form-footer">
                    <button class="btn btn-primary btn-lg" type="submit">Rezerwuj</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}