{%  extends 'layout/default.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h3>Wyszukiwanie sali</h3>
                    <form method="get">
                        <p><b>Data</b></p>
                        <div class="form-group row">
                            <label for="dateFrom" class="col-sm-3 col-form-label">od:</label>
                            <div class="col-sm-9">
                                <input type="date"
                                       name="date[from]"
                                       class="form-control"
                                       {% if filter.dateFrom %}
                                            value="{{ filter.dateFrom|date("Y-m-d") }}"
                                       {% endif %}
                                       id="dateFrom"
                                       placeholder="od"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dateTo" class="col-sm-3 col-form-label">do:</label>
                            <div class="col-sm-9">
                                <input type="date"
                                       name="date[to]"
                                       {% if filter.dateTo %}
                                           value="{{ filter.dateTo|date("Y-m-d") }}"
                                       {% endif %}
                                       class="form-control"
                                       id="dateTo"
                                       placeholder="do"
                                />
                            </div>
                        </div>
                        <p><b>Cena</b></p>
                        <div class="form-group row">
                            <label for="priceFrom" class="col-sm-3 col-form-label">od:</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="price[from]"
                                       {% if filter.priceFrom %}
                                           value="{{ filter.priceFrom }}"
                                       {% endif %}
                                       class="form-control"
                                       id="priceFrom"
                                       placeholder="od"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="priceTo" class="col-sm-3 col-form-label">do:</label>
                            <div class="col-sm-9">
                                <input type="text"
                                       name="price[to]"
                                       {% if filter.priceTo %}
                                           value="{{ filter.priceTo }}"
                                       {% endif %}
                                       class="form-control"
                                       id="priceTo"
                                       placeholder="do"
                                />
                            </div>
                        </div>
                        <p><b>Opcje</b></p>
                        {% for option in options %}
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="options[]"
                                       value="{{ option.id }}"
                                       id="options{{ option.id }}"
                                       {% if filter.options and option.id in filter.options %}
                                            checked
                                       {%  endif %}
                                />
                                <label class="form-check-label" for="options{{ option.id }}">
                                    {{ option.name }}
                                </label>
                            </div>
                        {% endfor %}
                        <div class="form-footer">
                            <button class="btn btn-primary btn-lg" type="submit">Wyszukaj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9 catalog-container">
            {% for hall in halls %}
                {% set price = priceService.getByDate(hall, filter) %}
                <div class="card">
                    <div class="card-body hall-card-body">
                        {% if not price is null %}
                            <div class="hall-price">
                                <h4>{{ price.value }},-</h4>
                                <p class="small">za godzine</p>
                            </div>
                        {% endif %}
                        <div class="hall-images">
                            <div class="hall-image-main"
                                 style="
                                         background: url('/uploads/images/{{ hall.images[0].filePath }}') center center;
                                         background-size: 100% auto;
                                     "
                            >
                            </div>
                            <div class="hall-images-preview">
                                <img src="/uploads/images/{{ hall.images[1].filePath }}" />
                                <img src="/uploads/images/{{ hall.images[2].filePath }}" />
                                <img src="/uploads/images/{{ hall.images[3].filePath }}" />
                            </div>
                        </div>
                        <div class="hall-description">
                            {% if price is null %}
                                <div class="alert alert-warning" role="alert">
                                    Sala nie ma ceny w ybranym zakresie dat.
                                    Prosze o kontakt z pracownikiem {{ hall.employee.phone }} ({{ hall.employee.firstName }})
                                </div>
                            {% endif %}
                            <h3>
                                <a href="{{ path('item', {id: hall.id}) }}">
                                    {{ hall.name }}
                                </a>
                            </h3>
                            <p><b>Miasto:</b>{{ hall.city }}</p>
                            <p><b>Adres:</b>{{ hall.address }}</p>
                            <p><b>Pole powierzchni:</b>{{ hall.area }} m2</p>
                            <div class="btn-group-sm">
                                {% if hall.id not in basketItems %}
                                    <a href="#"
                                       data-id="{{ hall.id }}"
                                       class="btn btn-success btn-sm add-to-card"
                                    >
                                        Dodaj do koszyka
                                    </a>
                                {% endif %}

                                <a href="{{ path('item', {id: hall.id}) }}" class="btn btn-success btn-sm">
                                    Zobać
                                </a>

                                <a href="{{ path('book', {id: hall.id}) }}" class="btn btn-primary btn-sm">
                                    Rezerwuj
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}