{%  extends 'layout/default.html.twig' %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Sale</h3>
            </div>
            <div class="card-body">
            <div class="btn-group btn-group-toggle mb-2">
                <a href="{{ path('hall_add') }}" class="btn btn-success btn-lg">
                    Dodaj sale
                </a>
            </div>
            <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Miasto</th>
                <th scope="col">Adresa</th>
                <th scope="col">Powierzchnia</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for hall in halls %}
                <tr>
                    <th scope="row">{{ hall.id }}</th>
                    <td>{{ hall.name }}</td>
                    <td>{{ hall.city }}</td>
                    <td>{{ hall.address }}</td>
                    <td>{{ hall.area }}</td>
                    <td>
                        <a href="{{ path('prices_list', {id: hall.id }) }}" class="btn btn-primary btn-xs">
                            ceny
                        </a>
                        <a href="{{ path('images_list', {id: hall.id }) }}" class="btn btn-primary btn-xs">
                            zdjęcia
                        </a>
                        <a href="{{ path('hall_update', {id: hall.id}) }}" class="btn btn-success btn-xs">
                            edytuj
                        </a>
                        <a href="{{ path('hall_remove', {id: hall.id}) }}" class="btn btn-danger btn-xs">
                            usuń
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            </div>
        </div>
    </div>
{% endblock %}