{%  extends 'layout/default.html.twig' %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Ceny sali "{{ hall.name }}"</h3>
            </div>
            <div class="card-body">
                <div class="btn-group btn-group-toggle mb-2">
                    <a href="{{ path('price_add', {id: hall.id}) }}" class="btn btn-success btn-lg">
                        Dodaj cene
                    </a>
                </div>
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Wartosc</th>
                        <th scope="col">Data od</th>
                        <th scope="col">Data do</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for price in prices %}
                        <tr>
                            <th scope="row">{{ price.id }}</th>
                            <td>{{ price.value }}</td>
                            <td>{{ price.dateFrom|date("d/m/Y") }}</td>
                            <td>{{ price.dateTo|date("d/m/Y") }}</td>
                            <td>
                                <a href="{{ path('price_remove', {id: price.id, hallId: hall.id}) }}" class="btn btn-danger btn-xs">
                                    usuń
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}