{%  extends 'layout/default.html.twig' %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Wynajęcia</h3>
            </div>
            <div class="card-body">
                <div class="btn-group btn-group-toggle mb-2">
                    <a href="{{ path('account') }}" class="btn btn-dark btn-lg">
                        Wstecz
                    </a>
                    <a id="print-rent-report" href="#" class="btn btn-success btn-lg">
                        Drukuj raport
                    </a>
                </div>
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sala</th>
                        <th scope="col">Data</th>
                        <th scope="col">Liczba osób</th>
                        <th scope="col">Suma</th>
                        <th scope="col">Klient</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rent in rents %}
                        <tr>
                            <th scope="row">{{ rent.id }}</th>
                            <td>{{ rent.booking.hall.name }}</td>
                            <td>{{ rent.booking.dateFrom|date("Y-m-d H:i") }} - {{ rent.booking.dateTo|date("Y-m-d H:i") }}</td>
                            <td>{{ rent.booking.peoplesCount }}</td>
                            <td>{{ rent.amount }} zł</td>
                            <td>
                                <span><i>Imie</i>: {{ rent.booking.client.firstName }}</span><br />
                                <span><i>Telefon</i>: {{ rent.booking.client.phone }}</span><br />
                                <span><i>E-mail</i>: {{ rent.booking.client.email }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}